input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

input.ng-invalid.ng-touched + label,
input.ng-invalid.ng-dirty + label {
  color: red;
}

.invalid-feedback {
  display: block !important;
}
